node_modules
allure*
.idea
./**/test.steps.ts
node_modules/
*debug.log
tsrc/
errorShots/
report/
build/
output/
outputs/
features/test
test-automation.iml
tmp/
.vscode/
yarn-error.log
tmps/
tmp_*/
src/configs/keys.js
package-lock.json
logs
src/step-definitions/test*
features/test
/features/test.feature
failedTest.list
